/* Styles for Choice Application */

/* div { border:1px solid red;} */


body { background-color: powderblue; }

div.left { float:left; width:221px; }
div.middle { margin-left:221px; margin-right:187px; text-align:center; }
div.right { float:right; width:187px;}

div.clear_both { clear:both; }

h1 { font-family:Arial,Helvetica,sans-serif; font-size:160%; font-weight:bold; }
h2 { font-family:Arial,Helvetica,sans-serif; font-size:120%; font-weight:bold; }

div.results { font-family:"Courier New", monoscape; white-space:pre; }
 
input.invalid { background-color: gold; }
textarea.invalid { background-color: gold; }

pre {font-size:140%;}

table { padding:5px; }
table td { vertical-align:top; }

/* 
div.inputdata { background-color: lightsteelblue; } 
div.radiobuttons { background-color: skyblue; }
div.submission { background-color: turquoise; }
img.middle { vertical-align: middle; }
*/


